@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600;700;800;900&display=swap');
html, *{
    font-family: 'Montserrat', sans-serif;
    margin: auto;
    padding: 0;
}
body {
    background-color: #302C42;
    color: white;
}
h1 {
    font-weight: 700;
    margin-left: 0;
}
p {
    font-weight: 100;
}
.wrapper {
    width: 100%;
    margin: auto;
}
.page {
    max-width: 1200px ;
}
.header {
    display: flex;
    height: 103px;
    line-height: 103px;
    width: 100%;
    margin-top: 50px;
    justify-content: space-between;
    font-weight: bold;
}
.header ul {
    display: flex;
}
.header ul li {
    margin-right: 41px;
    list-style: none;
    font-size: 12px;
}
button {
    font-weight: bold;
}
.but1{
    width: 154px;
    height: 48px;
    border: solid white;
    border-radius: 100px;
    background:none;
    color: white;
}
.but2{
    width: 154px;
    height: 48px;
    border: none;
    border-radius: 100px;
    background: linear-gradient(#8176AF, #C0B7E8);
    color: #343045;
}

/* */

.content {
    margin-top: 105px;
    display: flex;
}
.content .left {
    max-width: 450px;
}
.content p {
    font-size: 16px;
    margin-top: 40px;
    margin-bottom: 40px;
}

.right .glasses {
    width: 490px;
    height: 426px;
    background-image: url('/styles/images/pexels-michelangelo-buonarroti-8728382\ 1.png');
    border-radius: 100px 100px 100px 240px;
    box-shadow: 0 0 0 20px rgba(0, 0, 0, 0.2);
}
.but3{
    width: 154px;
    height: 48px;
    border: none;
    border-radius: 100px;
    background: linear-gradient(#8176AF, #C0B7E8);
    color: #343045;
}




.content3 h1 {
    font-weight: bold;
    font-size: 36px;
}
.content3 h2 {
    font-weight: lighter;
    font-size: 36px;
}
.content3 p {
    font-weight: lighter;
    font-size: 16px;
}
.content3 .left {
    max-width: 510px;
}
.content3 .right {
    width: 650px;
}